* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  main {
    margin: 2rem;
    .input_container {
      display: flex;
      flex-direction: row;
      gap: 5px;

      .warning {
        display: none;
        color: #FF0000;
      }
    }

    .tasks_container {
      display: flex;
      flex-direction: column;

      .task_container {
        display: flex;
        flex-direction: row;
      }
    }
  }
}